/*-- scss:defaults --*/

$link-color: #CB4335;

/*-- scss:rules --*/

.reveal .slide code {
  font-size: 90%;
}

.references {
  padding-left: 50px ;
  text-indent: -50px ;
}

.ref {
  font-size: 65%;
  float: right;
}

.reveal .right {
  text-align: right !important
}

.reveal .center {
  text-align: center !important
}
